.hd {
  color: #423022;
  text-align: center;
  font-family: "맑은 고딕";
}

p {
  color: #444444;
  /* size: 200px; */
  font-size: 16px;
  font-family: "돋움";
  line-height: 130%;
}

#headline {
  color: #8f7e6c;
  font-size: 20px;
  /* font-family: "볼드체"; */
  font-weight: bold;
}

.orange {
  color: #ff6400;
}

#company {
  color: #307466;
  font-size: 18px;
  text-decoration: underline;
}
