h1 {
  background-color: #222;
  color: white;
  font-size: 1em;
  margin: 0;
  padding: 10px;
}

h2 {
  text-align: center;
  color: #ff0000;
  font-size: 1.5em;
}

p {
  line-height: 2em;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

hr {
  border: none;
  border-top: solid 1px #ccc;
  margin: 0;
}

.container {
  width: 650px;
  padding: 5px;
  margin: 0 auto;
}

/* .imgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.textWrap {
  width: 640px;
  border: solid 1px #000;
}

/* .hd {
  background-color: #000;
  color: #fff;
  text-align: left;
} */

.accent {
  color: #00f;
}

.smalltext {
  font-size: 0.7em;
}
